.map {
	width: 575px;
	height: 425px;
}

.main-wrap {
	position: absolute;
	top: 100px;
	bottom: 50px;
	overflow: auto;
}

.content {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.homepage {
	display: table; 
	width: 100%; 
	height: 100%;
}